@import '../../assets/styles/global/variables.scss';

.details {
	padding: 16px 0 36px 0;

	&__wrapper {
		position: relative;
	}

	&__content {
		display: grid;
		grid-template-columns: 413px 413px;
		gap: 20px;
		justify-content: center;
	}

	&__button {
		position: absolute;
		left: 1px;
		top: 26px;
	}
}
