// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-54: rgba(0, 0, 0, 0.54);
$color-black-60: rgba(0, 0, 0, 0.6);
$color-black-86: rgba(0, 0, 0, 0.87);
$color-alice-blue: #f2f9fe;
$color-dodger-blue: #2196f3;

// Typography
$ff-main: 'Roboto', 'Arial', sans-serif;
$ff-second: 'Karla', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
